@use "sass:math";

@font-face {
  font-family: Faune;
  src: url(./fonts/faune/Faune-Text_Italic.eot);
  src: url(./fonts/faune/Faune-Text_Italic.eot?#iefix) format("embedded-opentype"),
  url(./fonts/faune/Faune-Text_Italic.woff2) format("woff2"),
  url(./fonts/faune/Faune-Text_Italic.woff) format("woff"),
  url(./fonts/faune/Faune-Text_Italic.ttf) format("truetype"),
  url(./fonts/faune/Faune-Text_Italic.svg#Faune-Text_Italic) format("svg");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Faune;
  src: url(./fonts/faune/Faune-Display_Black.eot);
  src: url(./fonts/faune/Faune-Display_Black.eot?#iefix) format("embedded-opentype"),
  url(./fonts/faune/Faune-Display_Black.woff2) format("woff2"),
  url(./fonts/faune/Faune-Display_Black.woff) format("woff"),
  url(./fonts/faune/Faune-Display_Black.ttf) format("truetype"),
  url(./fonts/faune/Faune-Display_Black.svg#Faune-Display_Black) format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

$purple:#B300DA;

html, body{
  font-family: 'Faune', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  line-height: 1.125em;
  padding: 0;
  margin: 0;
}

::selection{
  background: #ccc;
  color:#999;
}

.layout{
  box-sizing: border-box;
  width: 68em;
  padding: 3em;
  max-width: 100%;
  margin: auto;
}

a{
  color:inherit;
}

.intro{
  min-height: calc(100vh - 4em);
  padding: 0 0 3em;
  &__title{
    display: block;
    font-weight: 900;
    font-size:1em;
    margin: 0 0 #{2*1.125em};
    display: flex;
    &__link{
      text-decoration: none;
      &:hover{
        color:#666;
      }
    }
    .week-selector{
      margin: 0 0 0 auto;
      max-width: 50%;
      width: 20em;
      position: relative;
      select{
        position: fixed;
        z-index: 1;
        width:20em;
        max-width: 100%;
        font-size: 16px;
        font-family: 'Faune', sans-serif;
        font-style: italic;
        border-color: #000;
        border-radius: 12px;
        background: #fff;
        color: #000 !important;
        padding: 8px 0 8px 0;
        text-indent: 12px;
        line-height: 1.125em;
        margin: -9px 0 -10px 1em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        option{
          color: #000 !important;
        }
        &:hover,&:focus,&:active{
          outline: #ccc dotted 2px;
          outline-offset: 8px;
        }
      }
    }
  }
  &__content{
    width: 53em;
    max-width: 100%;
    column-count: 2;
    column-gap: 3em;
  }
  p{
    font-weight: 900;
    margin: 0 0 1.125em;
  }
}

.print{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 900;
  box-sizing: border-box;
  padding-bottom: 30vh;
  p{
    margin: 0;
  }
  blockquote{
    font-weight: normal;
    font-style: italic;
    padding: 0;
    margin: 1em 0;
  }
  video{
    display: block;
    max-width: 100%;
    height:auto;
    background: #333;
  }
  &__instagram{
    display: flex;
    flex-wrap: wrap;
    max-width:100%;
    width:25em;
    &__icon{
      margin: auto 0 -8px -8px;
      padding: 8px;
      width: 16px;
      height: 16px;
      line-height: 16px;
      span{
        display: none;
      }
      &:before{
        content: url('../images/instagram_simple_icon.svg');
        width: 16px;
        height: 16px;
        display: inline-block;
      }
    }
    &__hashtag{
      margin: auto 0 0 -8px;
      padding: 0 8px;
      font-weight: normal;
      font-style: italic;
      text-decoration: none;
    }
    a:hover{
      opacity: .5;
    }
  }
  &__titles,
  &__content{
    max-width: 100%;
    width:25em;
  }
  &__content{
    em,i{
      font-style: italic;
      font-weight: normal;
    }
  }
  &__titles{
    margin: 0 0 1.125em;
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    &--link{
      &:hover{
        span{
          color:#666;
        }
      }
    }
  }
  &__title{
    display: inline-flex;
    margin: 0 .25em 0 0;
    & + &--en{
      font-style: italic;
      font-weight: normal;
    }
  }
  &__week{
    font-size: 1em;
    font-weight: 900;
    margin: 1.5em 0 0 0;
  }
  &__images, &__videos{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5em -1.5em 0;
  }
  &__videos + &__images{
    margin: 0 -1.5em 0;
  }
  &__video{
    position: relative;
    &[data-controls="no"]{
      &:after{
        font-family: sans-serif;
        pointer-events: none;
        content:'▶︎';
        position: absolute;
        font-size: 40px;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        padding: 0 0 0 .2em;
        box-sizing: border-box;
        background-color: $purple;
        color:#fff;
        border-radius: 100%;
        margin: auto;
        left:0;
        right:0;
        top:0;
        bottom:0;
        transition: .3s;
      }
      &[data-playing="yes"]:after{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  &__image, &__video {
    display: flex;
    padding: 1.5em 1.5em 1.5em;
    box-sizing: border-box;
  }
  &__image{
    @for $i from 1 through 12{
      &--#{$i}{
        width: percentage(math.div($i,12));
      }
    }
    .gatsby-image-wrapper{
      display: flex;
      margin: auto 0 0 0;
      > div{
        margin: auto 0 0 0;
        position: relative;
      }
      [data-main-image]{
        max-width: 100%;
        height:auto;
        bottom: 0;
        top: auto;
      }
    }
  }
}

.footer{
  padding: 30vh 0 0;
  font-style: italic;
  strong, a{
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
  }
  .faune{
    a{
      font-style: italic;
      font-weight: normal;
    }
  }
  p{
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  .intro{
    &__content{
      width:25em;
      column-count: 1;
    }
  }
}


@media screen and (max-width: 720px) {
  .layout{
    padding: 1.5em;
  }
  .footer{
    p{
      display: flex;
      flex-direction: column;
      br{
        display: none;
      }
    }
  }
  .print {
    &__images, &__videos {
      margin: .75em -.75em;
    }
    &__videos + &__images{
      margin: -.75em -.75em .75em;
    }
    &__image, &__video{
      padding: .75em .75em .75em;
      width: 100%;
      @for $i from 1 through 6{
        &--#{$i}{
          width: 50%;
        }
      }
    }
  }
  .intro{
    &__title{
      .week-selector{
        select{
          &,&:focus,&:hover,&:active{
            outline: none;
          }
        }
      }
    }
  }
}